html,body {
  height: 100%;
}

.categories {
  background: #3f6844;
}

.collapsed {
  display: none;
}

.notes {
  overflow-y: scroll;
  background: #5daa68;
}

.editor {
  background: white;
  display: flex;
  flex-direction: column;
}

.note-resizebar {
  display: none;
}

.note-editor, .note-editing-area {
  height: 100%;
}

.selected-note {
  background: #3f6844 !important;
  color: white;
}

.note:hover .highlight-hidden {
  display: inline;
}

.highlight-hidden {
  display: none;
  z-index: 10;
}

.note:hover .full-display {
  display: inline;
}

.full-display {
  display: none;
  z-index: 10;
  width: 100%;
}

.editor-main {
  flex-grow: 1 !important;
}

#hint-bar {
  background: #faf1cf;
  border-bottom: 1px solid grey;
  color: grey;
}

#note-list li {
  cursor: pointer;
  background: #faf1cf;
}



.tag svg {
  cursor: pointer;
}


#btn-add-note svg {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

#btn-recent-note svg, #btn-liked-note svg, #btn-list-note svg {
  height: 35px;
  width: 35px;
  cursor: pointer;
}

.list-group-item {
  border-radius: 0rem !important;
  padding: 0.25rem !important;
}

.card {
  border-radius: 0rem !important;
  padding: 0.25rem !important;
}

.editor-main .card {
  border: 0px;
}

.note-editor.note-frame {
  border: 0px;
}

.selected-note:hover svg path,
.selected-note:hover{
  fill:white;
}

input {
  border: 0;
  box-shadow: 0;
}

button {
  border-radius: 0rem !important;
}

.no-border {
    border: 0;
    box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
}